repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: requirements-txt-fixer
      - id: check-json
        exclude: "^.ipynb"
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: pretty-format-json
        exclude: "^.ipynb"
        args: [ --autofix ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: [ --preview, --line-length=120 ]
