---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: model-platform
type: Opaque
data:
  # Remplacez par vos valeurs encodées en base64
  POSTGRES_PASSWORD: <BASE64_ENCODED_PASSWORD>
  JWT_SECRET: <BASE64_ENCODED_JWT_SECRET>
  ADMIN_EMAIL: <BASE64_ENCODED_EMAIL>
  ADMIN_PASSWORD: <BASE64_ENCODED_ADMIN_PASSWORD>
