apiVersion: batch/v1
kind: Job
metadata:
  name: pgsql-init-job
  namespace: pgsql
spec:
  template:
    spec:
      containers:
        - name: init
          image: postgres:14
          command:
            [
              "sh",
              "-c",
              "sleep 10 && psql -h modelplatform-pgsql -U postgres -f /scripts/00-init.sql",
            ]
          env:
            - name: PGPASSWORD
              valueFrom:
                configMapKeyRef:
                  name: db-secret-credentials
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: init-script
              mountPath: /scripts
      restartPolicy: OnFailure
      volumes:
        - name: init-script
          configMap:
            name: pg-init-schemas
