name: "Test workflow"
run-name: "Test workflow [${{ github.ref_name }}] ${{ github.event.repository.pushed_at}}"

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-and-quality-check:
    runs-on: ubuntu-22.04
    environment: dev
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: 3.11

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.8.5

      - name: Install dependencies and project
        run: |
          poetry install --with dev

      - name: Run pre-commit hooks
        run: |
          pre-commit install
          pre-commit run --all-files

      - name: Run unit tests
        run: |
          echo "Launching unit tests"
          poetry run pytest tests
